p::first-line{
    color: red;
}

li{
    list-style: none;
    margin: 0, 10px;
}

li::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-image: url(/images.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url(/images.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}